<html ng-app="calculatorApp">
    <head>
        <title>
            The Calculator App
        </title>
        <script src="angular.js"></script>
        <script src="app.js"></script>
    </head>

    <body>
        <h1>Calulator </h1>
        <div ng-controller="MyCalciCtrller as Ctrl1">
            
                <input type="text" ng-model="Ctrl1.input1">
                <span ng-bind="Ctrl1.selectedOperation"></span>
                <input type="text" ng-model="Ctrl1.input2">
                
                <input type="button" value="=" ng-click="Ctrl1.computeResult()" style="width: 20px">

                <span ng-bind="Ctrl1.resultValue"></span>


            
            <p>
                Choose Operation:
                <input type="button" value="+" ng-click="Ctrl1.btnClick('+')" style="width: 20px">
                <input type="button" value="-" ng-click="Ctrl1.btnClick('-')" style="width: 20px">
                <input type="button" value="*" ng-click="Ctrl1.btnClick('*')" style="width: 20px">
                <input type="button" value="/" ng-click="Ctrl1.btnClick('/')" style="width: 20px">
            </p>
            {{Ctrl1.input1}}  {{Ctrl1.input2}}
        </div>
    </body>
</html>